#main{
    width:60%;
    margin-top:90px;
    /* border:2px solid red; */

}
#form1>div{
    width:95%;
    margin:auto;
    height:150px;
    /* border: 2px solid blue; */
    margin-bottom:20px;
    font-family: ProximaNova-Regular,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    
}
h2{
    font-weight: 700;
    font-size: 24px;
    color: #242428;
}
#click{
    display:flex;
}
#click>div{
    border:1px solid #969ca0;
    margin:auto;
    text-align: center;
    line-height: 10px;
    color: #969ca0;
    padding:0px 33px 0px 33px;
    font-family: ProximaNova-Regular,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}
#click>div:hover{
    border: 3px solid orange;
    border-radius: 2px;
    cursor: pointer;
    
    
    /* font-weight: bolder ; */
}
#click>div>h3{
    color:#000000;
    font-weight: 2;
    font-size: 16px;
}
#click>div>p{
    font-size: 14px;
}
#click>div>h3:hover{
    color:#000000;
    font-weight: bolder;
}
#form2>div{
    width:95%;
    /* height: 900px; */
    margin:auto;
    /* border:2px solid pink; */
    font-family: ProximaNova-Regular,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}
#form2>div>h3{
    font-weight: 700 ;
    color:#3d464d;

}
#form2>div>p{
    color:#3d464d;
    font-weight:590;
    font-size: 14px;
}
#form2>div>div{
    width:80%;
    height:35px;
    border-radius: 2px;
    border:1px solid #3d464d;
}
#form2>div>div:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
#form2>div>div>input{
    width:96%;
    height:30px;
    margin:0px 0px 0px 10px;
    border:none;
}
#form2>div>div>input:focus{
 outline:none;
}
#checknum{
    display: flex;
    
}
#checknum>div:nth-child(1){
    width:10%;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding:6px;
    background-color: whitesmoke;
    /* font-size: 14px; */
    
    


}
#checknum>div:nth-child(2){
    width:90%;
}
#checknum>div:nth-child(2)>input{
    width:98%;
    height:30px;
    border:none;
}
#checknum>div:nth-child(2)>input:focus{
    outline:none;
}
#states{
    width:100%;
    height:35px;
    color:#969ca0;
    /* margin-left:10px; */
    border:none;
    
}
#states>option{
    color: #242428;
    border:0px solid white;

}
#states>option:focus{
    outline:none
}


#addo{
    width:97%;
    height:100px;
    border:1px solid #969ca0;
    margin:auto;
    /* /* border: 90px solid #969ca0; */
    /* border-bottom: 10px; */
    border-top:30px;
    border-left: 0px;
    border-right:10px; 

}
#addo>p{
    font-size:14px;
    font-weight: 600;
    color: #3d464d;
    font-family: ProximaNova-Regular,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";

}
#addo>div{
    display:flex;
}
#addo>div>div{
    margin:auto;

}
#addo>div>div:nth-child(1)
{
    margin-left:20px;
}
#addo>div>div:nth-child(2)
{
    margin-left:-22px;
}

#pay{
    /* border: 2px solid black; */
    width:90%;
    height:auto;
    margin-top:20px;
}

#pay>div{
    width:95%;
    margin:auto;
}
#bank{
    display:flex;
    font-family: ProximaNova-Regular,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}
#bank>img{
    margin-top:20px;
    width:50px;
    height:50px;
}
#bank>div{
    margin-left:50px;
    /* line-height: 20px; */
    font-family: ProximaNova-Regular,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";

}
#pay>div>h2{
    font-family: ProximaNova-Regular,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";

}
#bank>div>p{
    line-height: 5px;
    color:#969ca0;
    font-family: ProximaNova-Regular,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";

}
#banck>div>h3{
    

    color:#3d464d;
    font-family: ProximaNova-Regular,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";



}
#card{
    width:60%;
    
    margin-top:20px;

    /* border:2px solid red; */
    /* height: 8000px; */

}
#card>div{
    width:80%;
    /* border:2px solid green; */
    height: 600;
    margin:auto;
    display:flex;
    font-family: ProximaNova-Regular,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";


}
#CAR>div{
    display:flex;
    margin:auto;
    margin-left:0px;
}
#form3>div{
    width:83%;
    margin:auto;
    /* border:1px solid  #969ca0; */

    /* border-bottom:1px; */
    /* border-right:0px; */
    /* border-top:0px; */
    /* border-left:0px; */

    font-family: ProximaNova-Regular,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";

}
#carddetail{
    display:flex;
}
#form3>div>div{
/* { margin:auto; */
    width:40%;
    height: 40px;
    border:1px solid #969ca0; 
    border-radius: 2px;
    
}
#form3>div>div>input{
    width:95%;
    height: 35px;
    margin-left:10px;
    border:none;
    font-family: ProximaNova-Regular,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    /* border:2px solid blue ;  */
}
#form3>div>div>input:focus{
    outline:none;
}
#form3>div>p{
    font-size: 14px;
    font-weight: 1;
  color: #3d464d;
      font-family: ProximaNova-Regular,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}
#form3>div:nth-child(3){
    border:none;
}

#carddetail>div{
    width:40%;
    margin-right:10px;
    /* border:none; */
    border:1px solid #969ca0;
    
}
 #carddetail>div>input{
    width:90%;
    height:35px;
    border:none;
 }
 #form3>div>div:nth-child(6)
{
    width:40%;
    height: 40px;
    border:0px solid #969ca0; ;
    border-radius: 2px;
}
#last{
    width:60%;
    height:500px;
    border:1px solid #969ca0;
    border-top: 10px;
    border-left: 10px;
    border-right: 10px;
    margin-left:30px;
    margin-top:50px;
}
#last>div{
    display:flex;
    border:1px solid  #969ca0;
    /* border-bottom: 10px; */
    border-top: 10px;
    border-left: 10px;
    border-right: 10px;
    margin-left:50px;
}
#last>div>div:nth-child(2){
    margin-left:50px;
}
#last>div>div>img{
    width:80%;
    margin-top:30px;
}
#last>div>div>h4{
    line-height: 10px;
    color:#3d464d;
    font-family: ProximaNova-Regular,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";

}
#last>div>div>p{
    font-family: ProximaNova-Regular,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    line-height-step: 10px;
    color: #969ca0;
}
 #divupi{
    width:18%;
    margin-right:-13px;
    margin-top:10px

}
#upi{
    width:100%;
    
}
#divupi+div{
    /* width:90%; */
    
    margin-right:10px;
} 

button{
    width:100%;
    margin-top:0px;
    margin-left:200px;
    padding:15px 50px 15px 50px;
    background-color: orange;
    color: aliceblue;
    font-weight: bold;
    border:none;
    border-radius: 2px;
    font-family: ProximaNova-Regular,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}
#button4{
    display: flex;
}
#button4>div{
    /* width:90%; */
    /* border: 2px solid red; */
    margin-top:50px;
    margin-bottom:50px;
}
#button4>div>p{
    width:100%;
    font-size:11px;
    /* font-weight: bold; */
    color:#969ca0;
}
#footer{
    display: flex;
    width:70%;
    margin-top:20px;

}
#footer>div{
    width:75%;
    color: #969ca0;
    justify-content: left;
    margin:auto;
    font-size: 12px;
    font-family: ProximaNova-Regular,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";

    
}
#footer>div>h4{
    color: #3d464d;
    font-weight: 1;
}
#footer>img{
    width:15%;
    height:60px;
}
#cardname:focus{
    outline:none
}
#cardYY:focus{
    outline:none;
}
#cardCVV:focus{
    outline:none;
}
#lastline{
    width:100%;
    border:1px solid #969ca0;
    height:150px;
    /* border-top: 10px; */
    border-right: 10px;
    border-bottom: 10px;
    border-left: 10px;
}
body
 {margin:0;}

#navbarcheck{
    display:flex;
    overflow: hidden; 
  background-color:#ffff;
   position: fixed;
   top: 0;
  width: 100%;
  height:50px;
  /* border:2px solid black; */
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  justify-content: space-between;
  
}
#navbarcheck>div{
    
    margin-right:20px;
    margin-left:30px;
    color: #969ca0;
    
    font-size: 14px;
    font-weight: 1;
    font-family: ProximaNova-Regular,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    

}

