#emailform{
    width:50%;
    height:500px;
    margin:auto;
    /* border:2px solid red; */
    font-family: ProximaNova-Regular,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}
#Email{
    width:75%;
    height:300Px;
    margin:auto;
    /* border:2px solid green; */
}
h1{
    font-size:30px;
    font-weight: 1;
}
p{
    width:100%;
font-size:14px;
/* word-spacing: 3px; */
color:  rgb(146, 147, 145);
/* border:2px solid red; */
}
#email{
    width:98%;
    height:40px;

}
#button2{

    margin-left:290px;
    padding:18px 50px 18px 50px;
    margin-top:30px;
    border:none;
    background-color: orange;
    color:white;
    font-weight: bolder;
    font-family: ProximaNova-Regular,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";

}
#email:focus{
    outline:none;

}
#email:hover{
    border:2px solid orange;
}


